@import "tailwindcss";
body,html{
    background-color:#f7f3ef ;
}
.remove-height #root div:first-child{
    height: 100%;
}

.rncalc .react-calendar{
    width: 100%;
    min-height: 300px;
}
button{
    cursor: pointer;
}
.bg-primary{
    background-color: #ee9737;
}
.bg-primary:hover{
    background-color: #d88a2c;
}
.text-primary{
    color: #ee9737;
}
.text-primary-hover:hover{
    color: #d88a2c;
}
.phoneInput:focus,.phoneInput:active{
    border-color: none!important;
}